@import url('https://fonts.googleapis.com/css?family=Merienda+One');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');


/****************L O G I N*****************************/
.loginAnchorPane{
    -fx-background-color: #eaf1f1;
}

.loginAnchorPane .loginHeader{
    -fx-background-color: #173e43;
}

.loginAnchorPane .loginHeader Label{
    -fx-text-fill: #ffffff;
    -fx-font-size: 40px;
    -fx-font-family: "Calibri";
}

.loginAnchorPane JFXTextField, .loginAnchorPane JFXPasswordField{
    -fx-text-fill: #173e43;
    -fx-font-size: 20px;
}

.loginAnchorPane JFXButton{
    -fx-background-color: #173e43;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
}

.loginAnchorPane JFXButton:hover{
    -fx-background-color: #20575e;
}


/****************S T A R T   P A G E*******************/

#rootBorderPane{
    -fx-background-color: #eaf1f1;
}

/****************H E A D E R***************************/
#headerAnchorPane{
    -fx-background-color:#173e43;
    -fx-max-height: 130px;
}

#username{
    -fx-text-fill: #ffffff;
    -fx-font-size: 72px;
    -fx-font-family: "Calibri";
}

.otherLabel{
    -fx-text-fill: #ffffff;
    -fx-font-family: "Calibri";
    -fx-font-size: 36px;
}

.headerButtons:hover{
	-fx-border-color: #ffffff;
	-fx-border-width: 2, 2, 2, 2;
	-fx-border-radius: 15px;
}

.lanSelected{
    -fx-background-color: #fae596;
}

/****************B U T T O N**************************/

.uslugeButton{
    -fx-background-color: none;
}

.selectedButton{
    -fx-background-color: #fae596;
    -fx-effect: dropshadow( three-pass-box , black , 40 , 0, 0 , 0 );
}

.uslugeButtonLabel{
    -fx-text-fill: #173e43;
    -fx-font-size: 24px;
}

/****************T A B   P A N E**********************/

.jfx-tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #173e43;
}

.jfx-tab-pane .headers-region{
    -fx-pref-height: 60px;
}

.jfx-tab-pane .tab-header-area{
    -fx-padding: 0 0 20px 0;
}

.jfx-tab-pane .tab-selected-line{
    -fx-background-color: #fae596;
}

.tab{
    -fx-padding: 10px 40px 5px 40px;
}

.tab .tab-label{
    -fx-font-size: 36px;
    -fx-font-family: "Calibri";
    -fx-text-fill: #ffffff;
}

.tab:selected .tab-label{
    -fx-text-fill: #ffffff;
}

#infoAnchorPane{
    -fx-background-color: #3fb0ac;
    -fx-effect: dropshadow( three-pass-box , black , 50 , 0, 0 , 0 );
}

/******************************U S L U G E********************************/


.nameLabel{
    -fx-text-fill: #ffffff;
    -fx-font-size: 36px;
    -fx-effect: dropshadow(three-pass-box, black, 2, 0.2, 0, 0);
    -fx-font-family: "Calibri";
	-fx-font-weight:bold;
}

.piceHranaLabel{
    -fx-text-fill: #ffffff;
    -fx-font-size: 24px;
    -fx-effect: dropshadow(three-pass-box, black, 2, 0.2, 0, 0);
    -fx-font-family: "Calibri";
	-fx-font-weight:bold;

}

.stavkaLabel{
    -fx-font-size: 15px;
    -fx-text-fill: #000000;
	-fx-font-weight:bold;
	-fx-font-family:"Ubuntu Mono";
}

.stavkaLabel:hover{
    -fx-text-fill: #fae596;
    -fx-effect: none;
    -fx-cursor: hand;
	-fx-effect: dropshadow(three-pass-box, black, 2, 0.2, 0, 0);
	-fx-font-weight:bold;
}

.restoranScrollPane{
	-fx-background-color:transparent;
}

.restoranScrollPane .viewport{
	-fx-background-color:#3fb0ac;
}

.naruciButton{
	-fx-background-color:#fae596;
    -fx-font-size: 30px;
    -fx-text-fill: #173e43;
    -fx-font-family: "Calibri";
}

.jfx-time-picker .time-picker-display-node{
    -fx-text-fill: #ffffff;
    -fx-font-size: 24px;
    -fx-font-family: "Calibri";
}

.jfx-time-picker .time-picker-display-node .text {
    -fx-effect: dropshadow(three-pass-box, black, 5, 0, 0, 0);
}

.jfx-date-picker .date-picker-display-node{
    -fx-text-fill: #ffffff;
    -fx-font-size: 24px;
    -fx-font-family: "Calibri";
}

.jfx-date-picker .date-picker-display-node .text {
    -fx-effect: dropshadow(three-pass-box, black, 5, 0, 0, 0);
}

.brojacLabel{
	-fx-font-size:25px;
	-fx-font-weight:bold;
	-fx-text-fill:#fae596;
    -fx-effect: dropshadow(three-pass-box, black, 2, 0.2, 0, 0);

}

/*.jfx-combo-box .list-view .list-cell{
	-fx-background-color:#173e43;
}

.jfx-combo-box .list-view .list-cell:hover > .cell{
	-fx-text-fill:red;
}

.jfx-combo-box .list-cell .text{
	-fx-text-fill:red;
}*/

.jfx-combo-box .list-view .list-cell:hover{
	-fx-background-color:#fae596;
}

.jfx-combo-box .list-view .list-cell:selected{
	-fx-background-color:#fae596;
}

.jfx-combo-box .cell{
	-fx-text-fill: #ffffff;
    -fx-font-size: 24px;
    -fx-effect: dropshadow(three-pass-box, black, 2, 0.2, 0, 0);
    -fx-font-family: "Calibri";
	-fx-font-weight:bold;
}

/**********************R A C U N**************************************/

.racunVBox{
	-fx-background-color:#ffffff;
	-fx-border-width:0 0 1 0;
	-fx-border-color:#173e43;
}


/**********************P O P U S T I**********************************/

.popustiAnchorPane{
	-fx-background-color:#fae596;
}

.popustiAnchorPane Label{
	-fx-font-size:33px;
	-fx-text-fill:#173e43;
}

.popustiAnchorPane TextField{
	-fx-font-size:25px;
	-fx-border-color: #173e43;
	-fx-text-fill:#173e43;
}

.hccLabel{
	-fx-font-size:70px;
	-fx-text-fill:#173e43;
	-fx-font-family:"Merienda One";
}

/*.hccLabel .text{
	-fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}*/

/*****************K NJ I G A  U T I S A K A**********************/

#knjigaUtisakaScrollPane{
	-fx-background-color: #eaf1f1;
}

#knjigaUtisakaScrollPane .utisak{
	-fx-font-size:16px;
	-fx-effect: dropshadow(three-pass-box, black, 30, 0, 0, 0);
}

.zeleniStil{
	-fx-background-color:#b2f18c;
}

.plaviStil{
	-fx-background-color:#a9c9ff;
}

.zutiStil{
	-fx-background-color:#fae596;
}

.crveniStil{
	-fx-background-color:#eb7070;
}

.sucmurastStil{
	-fx-background-color:#90e2d7;
}

.utisak:hover{
	-fx-opacity:0.9;
	-fx-cursor:hand;
}

.utisakHeader{
	-fx-border-width:0 0 2 0;
	-fx-border-color:#173e43;
	-fx-border-bottom-style:solid;
}

#knjigaUtisakaScrollPane .button{
	-fx-background-color:#fae596;
}

#knjigaUtisakaScrollPane .button Pane Label{
	-fx-font-size:35px;
}

.utisakFull{
	-fx-effect: dropshadow(three-pass-box, black, 30, 0, 0, 0);
}

.utisakFull .utisakHeader Label{ 
	-fx-font-size:35px;
}

.utisakFull .utisakHeader JFXButton{
	-fx-font-size:35px;
	-fx-border-width:0 0 0 1;
	-fx-border-color:#000000;
	-fx-text-fill:#000000;
}

.utisakFull Label{
	-fx-font-size:25px;
}

#dodajUtisakAnchorPane{
	-fx-background-color:#fae596;
	-fx-effect: dropshadow(three-pass-box, black, 30, 0, 0, 0);

}

.dodajUtisakButtons{
	-fx-font-size: 25px;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Calibri";
	-fx-background-color:#173e43;
}


/***********************K O R P A**********************/

#korpaAnchorPane{
	-fx-background-color:#fae596;
	-fx-effect: dropshadow(three-pass-box, black, 30, 0, 0, 0);
}

.ukupnoLabel{
	-fx-font-size:25px;
}

.korpaHeader{
	-fx-border-width:0 0 1 0;
	-fx-border-color:#173e43;
	-fx-border-bottom-style:solid;
}

.korpaHeader Label{
	-fx-font-size:35px;
	-fx-text-fill:#173e43;
}

#korpaAnchorPane ScrollPane{
	-fx-background-color:transparent;
}

#korpaAnchorPane ScrollPane .viewport{
	-fx-background-color:#ffffff;
}

#korpaAnchorPane .artikal{
	-fx-font-size:18px;
	-fx-border-width:0 0 1 0;
	-fx-border-color:rgba(0,0,0,0.5);
}

#korpaAnchorPane .closeButton{
	-fx-font-size: 28px;
	-fx-border-width:0 0 0 1;
	-fx-border-color:#173e43;
}

/*******************************S E T T I N G S**********************************/

.settingsPane{
	
}

.settingsPane Label{
	-fx-font-size:20px;
	-fx-text-fill:#173e43;
}

.settingsPane JFXPasswordField{
	-fx-font-size:20px;
}

/******************************P O T V R D A **************************************/

.crveniLabel{
	-fx-text-fill:#e42929;
}

.plaviLabel{
	-fx-text-fill:#0072ff;
}
















